header{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background-color: black
}

header ul li{
    float: left;
    list-style: none;
    padding-left: 20px;
    color: white;
    font-size: 18px;
    line-height: 50px;
}

main{
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
}

.left{
    float: left;
    height: 1270px;
    width: 75%;
    border-top: 5px solid blue;
    border-right:  5px solid blue;
    border-bottom: 5px solid blue;
}

h1{
    border-left: 5px solid gray;
    border-bottom: 5px solid gray;
    padding-left: 10px;
}

.left img{
    width: 100%;
}

h2{
    border-bottom: 4px solid whitesmoke;
    padding-left: 10px;
}

.right{
    float: left;
    height: 1270px;
    width: 24%;
    border-top: 5px solid red;
    border-left: 5px solid red;
    border-bottom: 5px solid red;
}

.gray_box{
    width: 100%;
    background-color: lightgray;
    text-align: center;
}

.gray_box img{
    width: 200px;
    margin: 20px 10px -10px 10px;
}

.gray_box .pic1{
    display: inline-block;
    padding-left: 30px;
}

.gray_box .pic2{
    display: inline-block;
    padding-left: 30px;
}

footer{
    clear: left;
    width: 100%;
    height: 50px;
    bottom: 0px;
    left: 0px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 50px;
}

.kiji{
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.link{
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.category{
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 10px;
}